/*전체 성정 조정*/
* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  color: #000;
}
/*로고 배경 이미지 조정*/
.intro {
  background-image: url("img3.png");
  width: 100%;
  height: 710px;
}
/*상단 메뉴담는 경계 조정*/
.header {
  display: flex;
  width: 1280px;
  margin: auto;
  height: 86px;
  background: #6e1a1a;
}
/*검색 박스 조정*/
.searcherArea {
  width: 300px;
  height: 40px;
  margin-top: 24px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}
/*검색 세부 조정*/
.searcherArea form input {
  border: none;
  background: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 40px;
  color: #fff;
  padding-left: 10px;
}
/*검색 글자 박스 조정*/
.searcherArea form span {
  width: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
/*상단 메뉴 박스 위치 조정*/
.nav {
  display: flex;
  justify-content: flex-end;
  line-height: 55px;
  width: calc(1280px-300px);
}
/*상단 메뉴 위치 조정*/
.nav li {
  margin-left: 84px;
}
/*상단 메뉴 글자 색갈*/
.nav li a {
  color: #fff;
}
/*동아리 소개 박스 위치조정*/
.intro_text {
  position: relative;
  width: 1280px;
  margin-top: 50px;
  margin-left: 310px;
  text-align: left; /*글자 가운데로 정렬*/
}
/*동아리 소개 작은글자 조정*/
.intro_text h1 {
  font-size: 48px;
}
/*동아리 소개 글자조정*/
.contents {
  font-size: 20px;
  font-weight: lighter;
}
/*동아리 소개 글자 색갈*/
.intro_text h1,
.intro_text h4 {
  color: #fff;
}
/*인트로 아래 첫번째 박스 설정*/
.box {
  position: relative;
  top: -40px;
  display: flex;
  width: 1280px;
  margin: auto;
}
/*첫박스 크기 조정*/
.box li {
  flex: 1;
  height: 132px;
  background: skyblue;
}
/*첫박스 안 글자 칸 수정*/
.box li div {
  text-align: center;
  background: #6e1a1a;
  height: 57px;
  margin-top: 37px;
}
